.logo{
    margin-top: 50px;
    margin-left: 10px;
    position: fixed;
    width: 150px;
    height: 70px;
    display: fixed;
    
}
.lidojumiText{
    margin-left: 70%;
    font-style: oblique;
    font-size:40px ;
    text-decoration: none;
    margin-top: -2.9%;
    position: fixed;
    color: black;
    display: fixed;
}
.covid19Text{
    margin-top: -2.9%;
    font-style: oblique;
    position: fixed;
    margin-left: 910px;
    font-size:40px ;
    text-decoration: none;
    color: black;
    display: fixed;
}
.Text{
    font-style: oblique;
    margin-top: 10px;
    margin-left: 100px;
    font-size:40px;
    text-decoration: none;
    position:sticky;
    display: fixed;
}
.taisnasturis {
    height: 80px;
    width: 110%;
    margin-left: -100px;
    background-color: rgb(0, 233, 250);
    position: static;
    margin-top: 79px;
    left: -200px;
    display: fixed;
}
.lidostaText{
    position: fixed;
    color: aqua;
    margin-top: 10px;
    font-size:40px ;
    text-decoration: none;
    left: 30px ;
    font-family: 'times new roman';
    font-weight: bold;
    display: fixed;
}
.lidmašinaText{
    margin-left: 15%;
    font-style: oblique;
    font-size:40px ;
    text-decoration: none;
    margin-top: -2.9%;
    position: fixed;
    font-weight:100;
    color: black;
    display: fixed;
}
.covid19Bilde{
    margin-top: -3.1%;
    position: fixed;
    margin-left: 40%;
    width: 70px;
    height: 60px;
    display: fixed;
}
.WebContainer{
    width: 100%;
    height: auto;
}
.articles{
    width:90%; 
    height: auto;
    margin: auto;
}
