<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid-19</title>
    <link rel="stylesheet" href="static/css/Covid_19.css">
</head>
<body>
    <body>
        <a href="/">
        <img src="static/img/e95aca64384ef4a99fc1818d0a92947c.png" class="logo">
    </a>
      
          <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Ienākt</button>
          
          <div id="id01" class="modal">
            
            <form class="modal-content animate" action="/action_page.php" method="post">
              <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                <img src="static/img/114-1144402_drawing-airplane-logo-airplane-clipart-transparent-background.png" alt="Avatar" class="avatar">
              </div>
          
              <div class="container">
                <label for="uname"><b>Lietotājvārds</b></label>
                <input type="text" placeholder="Ievadiet lietotājvārdu" name="uname" required>
          
                <label for="psw"><b>Parole</b></label>
                <input type="password" placeholder="Ievadiet paroli" name="psw" required>
                  
                <button class="Ieiet" type="submit">Ienākt</button>
                <label>
                  <input type="checkbox" checked="checked" name="remember"> Atcerēties mani
                </label>
              </div>
          
              <div class="container" style="background-color:#f1f1f1">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Atcelt</button>
                <span class="psw">Aizmirsāt <a href="/ForgotPass">paroli?</a></span>
              </div>
            </form>
          </div>    
      </body>
      <script type="text/javascript" src="static/js/Covid_19.js"></script>
      <div class="main">
        <ul>
          <li><a class="Parlidmašīnu" href="/ParLidmasinam">Par lidmašīnam</a></li>
          <li><a class="Covid-19" href="/Covid_19">Covid-19</a></li>
          <li><a class="Lidojumi" href="/Lidojumi">Lidojumi</a></li>
        </ul>
      </div>
      <div class="taisnasturis"></div>
      <h1 class="VirsrakstsCovid-19">COVID-19: Biežāk uzdotie jautājumi</h1>
      <p class= "teksts">Apzinoties savu atbildību COVID-19 saslimšanas ierobežošanā un lai rūpētos par pasažieru, darbinieku un partneru drošību, 
       lidosta “Rīga” ir ieviesusi visaptverošu epidemioloģiskās drošības programmu #NeļaujVīrusamCeļot. <br>
       Tā paredz pasākumu kopumu vairākos darbības virzienos lidostas un lidostā strādājošo uzņēmumu darbinieku aizsardzībai un drošai pasažieru apkalpošanai, lai pēc iespējas mazinātu COVID-19 izplatības riskus. <br>
       Izstrādājot programmu, lidosta ir konsultējusies ar Latvijas veselības aizsardzības institūcijām un ņēmusi vērā starptautisko aviācijas organizāciju rekomendācijas.</p>

       <p><img src="static/img/covid.jpg" class="Covid_pic"></p>
      </html>
      
      