<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/ForgotPass.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Paroles atjaunošana</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Vārds</span>
            <input type="text" placeholder="Ievadiet E-pastu." required>
          </div>
        </div>
       
        <div class="button">
          <input type="submit" value="Apstiprināt">
        </div>
      </form>
    </div>
  </div>

</body>
<script type="text/javascript" src="static/js/ForgotPass.js"></script>
</html>