<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/Main.css">
</head>
<body>
  <img src="static/img/e95aca64384ef4a99fc1818d0a92947c.png" class="logo">

    <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Ienākt</button>
    
    <div id="id01" class="modal">
      
      <form class="modal-content animate" action="/action_page.php" method="post">
        <div class="imgcontainer">
          <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
          <img src="static/img/114-1144402_drawing-airplane-logo-airplane-clipart-transparent-background.png" alt="Avatar" class="avatar">
        </div>
    
        <div class="container">
          <label for="uname"><b>Lietotājvārds</b></label>
          <input type="text" placeholder="Ievadiet lietotājvārdu" name="uname" required>
    
          <label for="psw"><b>Parole</b></label>
          <input type="password" placeholder="Ievadiet paroli" name="psw" required>
            
          <button class="Ieiet" type="submit">Ienākt</button>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Atcerēties mani
          </label>
        </div>
    
        <div class="container" style="background-color:#f1f1f1">
          <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Atcelt</button>
          <span class="psw">Aizmirsāt <a href="/ForgotPass">paroli?</a></span>
        </div>
      </form>
    </div>

<div class="main">
  <ul>
    <li><a class="Parlidmašīnu" href="/ParLidmasinam">Par lidmašīnam</a></li>
    <li><a class="Covid-19" href="/Covid_19">Covid-19</a></li>
    <li><a class="Lidojumi" href="/Lidojumi">Lidojumi</a></li>
  </ul>
</div>
<div class="taisnasturis"></div>
  <div class="jaunumi">
    <h1>Jaunumi lidostā</h1>
    <li> 11.05.2021<br>
        Lidostā noslēgusies otrā ātrās nobraukšanas manevrēšanas ceļa izbūve un skrejceļa daļas rekonstrukcija
    </li>
    <li>29.04.2021<br>airBaltic pārņems savu pasažieru apkalpošanu lidostā
    </li>
  </div>
  <img src="static/img/etoro.png" class="ad">
  <img src="static/img/covid_dud.jpg" class="ad">
  <img src="static/img/masks.jpg" class="ad">
  <img src="static/img/plane_ad.jpg" class="ad">

</body>
</html>

